@media only screen and (min-width: 401px){
    
    button {
        all: initial; /* Сбросить все свойства */
    }
    .header{
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .spanItemName{ /*для заголовков*/
        font-family: Arial, Helvetica, sans-serif;
        font-weight: var(--text-26-px-semibold-font-weight, 600);
        font-size: var(--heading-05-font-size, 34px);
        letter-spacing: var(--heading-05-letter-spacing, -0.6px);
        line-height: var(--heading-05-line-height, 1.118);
        color: var(--black-900, #121212);
    }


    /*tablo*/
    .tablo{
        padding: 52px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    thead{
        display: flex;
        
        height: 52px;
        overflow: hidden;
        width: 1100px;
        max-width: 1100px;
        min-width: 370px;
        border-bottom: 1px solid  rgb(194, 194, 194) ;
    }
    tr{
        display: flex;
        height: 150px;
        width: 1100px;
        max-width: 1100px;
        min-width: 370px;
        border-bottom: 1px solid  rgb(194, 194, 194) ;
    }
    th{
        text-align: left;
    }
    .th_product_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 380px;
    }
    .th_main_info{
        width: 283px;
        height: 82px;
        display: flex;
        align-items: center;
    }


    /*remove but*/
    .but_remove_svg{
        width: 18px;
        height: 100%;
        margin-right: 5px;

    }
    .but_remove{
        height: 24px;
        width: 75px;
        box-sizing: border-box;
        padding: 5px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        align-items: center;
    }
    .but_remove:hover{
        border-radius: 50px;
        background-color: #F5F5F5;
    }
    /*remove but*/


    .th_info_header{
        
        display: flex;
        min-height: 22px;
        max-height: 50px;
        width: 210px;
        overflow: hidden;
        font-size: 14px;
        font-weight: bold;

    }
    .th_product {
        width: 50%; /* Установите желаемую ширину для колонки продукта */
        display: flex;
        align-items: center;
    }
    
    .th_quantity {
        width: 25%; /* Установите желаемую ширину для колонки количества */
        display: flex;
        align-items: center;
    }
    
    .th_price {
        width: 25%; /* Установите желаемую ширину для колонки цены */
        display: flex;
        align-items: center;
    }

    .th_image_box{
        width: 150px;
        height: 100px;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .th_image {
        max-width: 100%; /* Максимальная ширина равна ширине контейнера */
        max-height: 100%; /* Максимальная высота равна высоте контейнера */
    }
    .th_quantity_cont{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(194, 194, 194);
        border-radius: 5px;
    width: 80px;
    height: 32px;
    box-sizing: border-box;
    padding: 3px;
    
    }
    .th_quantity_but{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16px;
        width: 16px;
        cursor: pointer;
    }
    .addToCart{
    
        height: 45px;
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(0, 0, 0);
        justify-content: center;
        margin-top: 16px;
        cursor: pointer;
        border-radius: 7px;
    }
    .spanCatalogWay{
        font-size: var(--text-12-px-regular-font-size, 12px);
        color:  var(--black-600, #605F5F);
        text-decoration-line: var(--text-14-px-regular-striked-text-decorationLine, line-through);
        margin-left: 10px; size: 16px;
    }
    .summary{
       
        margin-right: 15%;
        width: 390px;
        height: 280px;
        border: #121212 1px solid;
        border-radius: 5px;
        padding: 24px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}